<div class="container__buton mb-1">
  <button class="button button--exercise mr-1" (click)="startWithTimer()">Start with timer</button>
  <button class="button button--exercise" (click)="startWithoutTimer()">Start without timer</button>
</div>

<h2 class="text--center mb-1">{{messageFinish}}</h2>
<h3 class="text--center mb-1 total__time">{{time}} seconds</h3>

<h4 class="text--center text--pink">Let's Do It - Abdominals {{message}}</h4>

<div class="container_exercises">
  <!-- <div class="excercise__item exercise--squats"></div> -->
  <!-- <div class="excercise__item exercise--abdominals"></div> -->
  <!-- <div class="excercise__item exercise--bike"></div> -->
  <div class="excercise__item exercise--dancing"></div>
</div>
