<h2 class="text--center mb-1">Exercises in house</h2>
<div class="container__buton mb-1">
  <button class="button button--exercise mr-1">Start with timer</button>
  <button class="button button--exercise">Start without timer</button>
</div>
<h3 class="text--center mb-1 total__time">{{time}} seconds</h3>
<h4 class="text--center text--pink">Let's Do It - Abdominals</h4>

<div class="container_exercises">
  <div class="exercise--abdominals"></div>
</div>

<p>Progress: {{progress}}%</p>
<p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>

<button (click)="processWithinAngularZone()">Process within Angular zone</button>
<button (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>