@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --dark:           #0d151f;
  --active:         #1E9079;
  --checked:        #F70042;
  --green:          #60E245;
  --primary-color:  #1e3734;
  --base:           #fbf8e933;
  --white:          #fff;
  --font-exercise:  #99cdb0;
  --pink:           #dd3a9b;
  --padding-content:  2rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 13pt;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.text--primary {
  color: var(--primary-color);
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text--center {
  text-align: center;
}

.button {
  border: 0.1rem solid var(--primary-color);
  padding: .5rem 1rem;
  border-radius: 0.15rem;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.button:hover,
.button:focus,
.button:active {
  outline: none;
  background-color: var(--primary-color);
  border-color: var(--white);
  color: var(--white);
  box-shadow: 0 0.15rem 0.8rem rgba(0, 0, 0, 0.16),
              0 0.18rem 0.5rem rgba(0, 0, 0, 0.1);
}

.link__header {
  border: 0.11rem solid var(--primary-color);
  padding: .5rem 1rem;
  border-radius: 0.15rem;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  color: var(--primary-color);
  transition: all 0.3s ease;
  z-index: 1;
}

.link__header:before {
  transition: 0.5s all ease;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--primary-color);
}

.link__header:hover,
.link__header:active,
.link__header:focus,
.link__header--active {
  color: var(--white);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.6);
}

.link__header:hover:before,
.link__header:active:before,
.link__header:focus:before,
.link__header--active:before {
  left: 0;
  right: 0;
  opacity: 1;
}

/*
  Styles of tree
  Based on http://thecodeplayer.com/walkthrough/css3-family-tree
*/
.tree ul {
  padding-top: 1.2rem;
  position: relative;
	transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1.2rem .6rem 0 .3rem;
	transition: all 0.5s;
}

.tree li::before,
.tree li::after{
	content: '';
  position: absolute;
  top: 0;
  right: 50%;
	border-top: .2rem solid var(--primary-color);
  width: 50%;
  height: 1.3rem;
}

.tree li::after{
  right: auto;
  left: 50%;
	border-left: .2rem solid var(--primary-color);
}

.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

.tree li:only-child{
  padding-top: 0;
  padding-bottom: 1rem;
}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before {
	border-right: .2rem solid var(--primary-color);
	border-radius: 0 .3rem 0 0;
}

.tree li:first-child::after {
	border-radius: .3rem 0 0 0;
}

.tree ul ul::before {
	content: '';
  position: absolute;
  top: 0;
  left: 50%;
	border-left: .21rem solid var(--primary-color);
  width: 0;
  height: 1.3rem;
}

.tree li a {
	border: .2rem solid var(--primary-color);
  padding: .5rem 1rem;
  position: relative;
	text-decoration: none;
	color: var(--primary-color);
	font-weight: bold;
	display: inline-block;
	border-radius: .2rem;
	transition: all 0.5s;
}

.tree li a:hover,
.tree li a:hover+ul li a {
  cursor: default;
  background-color: var(--active);
  color: var(--white);
  border-color: var(--white);
  box-shadow: 0 0.15rem 0.8rem rgba(0, 0, 0, 0.16),
              0 0.18rem 0.5rem rgba(0, 0, 0, 0.1);
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  var(--active);
}

.tree li a.checked {
  background-color: var(--checked) !important;
  color: var(--white);
  border-color: var(--white);
  box-shadow: 0 0.15rem 1.8rem rgba(0, 0, 0, 1),
              0 0.18rem 0.5rem rgba(0, 0, 0, .1) !important;
}

.cmp__onpush {
  background-color: var(--green);
  color: var(--dark);
  font-weight: bolder;
  padding: .2rem;
  font-size: .8em;
  border-radius: .2rem;
  border: .1rem solid var(--dark);
  position: absolute;
  top: -.95rem;
  left: -2rem;
}

.link__click {
  cursor: pointer !important;
  animation: clicked 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

@keyframes clicked {
  to {
    transform: scale(1);
    box-shadow: 0;
  }
  from {
    transform: scale(1.02);
    box-shadow: 0 0.2rem 1.8rem var(--green);
  }
}
